 header {
     text-align: center;
 }
 
 .scale-container {
     border: 1px dashed #e5e5e5;
     text-align: center;
     display: table;
     margin: 50px auto;
     width: 50%;
 }
 
 .scale-efect {
     margin: -4px;
     background-image: url(../img/square.svg), url(../img/square.svg), url(../img/square.svg), url(../img/square.svg), url(../img/square.svg), url(../img/square.svg), url(../img/square.svg), url(../img/square.svg);
     background-position: left top, center top, right top, left center, right center, left bottom, center bottom, right bottom;
     background-repeat: no-repeat;
     display: table;
     padding: 10px 65px;
 }